<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="login.css" />
  </head>
  <body>
    <h1>Login</h1>

    <% if (messages.error) { %>
        <p><%= messages.error %></p>
      <% } %>

    <form
      action="/login"
      method="post">
      <label for="userName">User Name</label>
      <input
        type="text"
        id="userName"
        name="userName"
        required />

      <label for="password">password</label>
      <input
        type="password"
        id="password"
        name="password"
        required />

      <button type="submit">Login</button>
      <a href="/register">Register</a>
    </form>
  </body>
</html>
