* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1f1f1f;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
  margin-bottom: 4rem;
}

p{
  text-align: center;
  color: red;
  margin-bottom: 2rem;
}

form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 80%;
  padding: 8px;
  margin-bottom: 16px;
  border: none;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #555;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #777;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
