<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="register.css" />
  </head>
  <body>
    <h1>Register</h1>

    <% if (messages.error) { %>
    <p><%= messages.error %></p>
    <% } %>

    <form
      action="/register"
      method="post">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        required />

      <label for="userName">User Name</label>
      <input
        type="text"
        id="userName"
        name="userName"
        required />

      <label for="password">password</label>
      <input
        type="password"
        id="password"
        name="password"
        required />

      <button type="submit">Register</button>
      <a href="/login">login</a>
    </form>
  </body>
</html>
