* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f1f1f;
  color: #fff;
  font-family: Arial, sans-serif;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  color: #fff;
  margin-bottom: 2rem;
}

button {
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
