<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>welcome</title>
    <link
      rel="stylesheet"
      href="welcome.css" />
  </head>
  <body>
    <div>
      <h1>Hi <%=name %></h1>
      <form
        action="/logout?_method=delete"
        method="post">
        <button type="submit">Log out</button>
      </form>
    </div>
  </body>
</html>
